<h2>New Student Orientation Scheduling Application c2014</h2>
<p>Created by: Mark Locklear</p>

<ul>
  <li>https://bitbucket.org/marklocklear/nso</li>
  <li>cap deploy #push code from bitbucket to server</li>
  <li>cap deploy:migrate #migrate database</li>
  <li>cap seed #to run seed file</li>
  <li>rake send_reminder_emails #to run /lib/tasks/reminder_emails.rake</li>
  <li>rake create_registrations #to run /lib/tasks/create_registrations.rake</li>
  <li>configure reminder emails task via cron on prod in config/schedule.rb</li>
</ul>
